<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IPC2 Proyecto 2</title>
    <link rel="stylesheet" href="~/css/site.css?v=3.0" />
</head>
<body>
    <header>
        <nav>
            <a asp-page="/Index">Inicio</a>
            <a asp-page="/Drones/Index">Drones</a>
            <a asp-page="/Drones/Create">Agregar dron</a>
            <a asp-page="/Xml/Cargar">Cargar XML</a>
            <a asp-page="/Sistemas/Index">Sistemas</a>
            <a asp-page="/Mensajes/Index">Mensajes</a>
            <a asp-page="/DescargarSalida/Index">Descargar Salida</a>
            <a asp-page="/Ayuda/Index">Ayuda</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
